@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-military-50 text-military-900 font-sans antialiased;
  }
}

/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-military-100 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-military-500;
}
